@media screen and (min-device-width: 320px) and (max-device-width: 420px ) {

}

@media screen and (min-device-width: 421px) and (max-width: 800px ) {
    
    .content { width: 100%; }

    .section-servicos-content { margin: 20px 0 0 0; }
    .section-servicos-content article { margin: 20px 0 20px 0; width: 80%;}
    .section-servicos-content article { margin: 20px 10px 20px 10px; }
    .section-servicos-title { padding: 0 20px; }

    .section-como-funciona-input { width: 380px; margin: 0 auto; }
    .section-como-funciona-input input { width: 100%; }
    .section-como-funciona-input button { width: 100%; margin-left: 0; margin-top: 7px; }

    .section-como-funciona-content { justify-content: center; }
    .section-como-funciona-title h2 { font-size: 2rem; }
    .section-como-funciona-img img { width: 200px; bottom: -50px;}  
    .section-como-funciona-img img { display: none; position: absolute; top: 0; left: 0; }  

    .section-vantagens-list { grid-template-columns: repeat( 1, 1fr); }
    .section-vantagens-list li { padding: 20px; }
}

@media screen and (min-width: 801px) and (max-width: 1023px ) {

    .content { width: 100%; }
    .section-servicos-content { margin: 20px 0 0 0; }
    .section-servicos-content article { margin: 20px 0 20px 0; }
    .section-servicos-content article { margin: 20px 10px 20px 10px; }

    .section-como-funciona-input { width: 380px; }
    .section-como-funciona-input input { width: 100%; }
    .section-como-funciona-input button { width: 100%; margin-left: 0; margin-top: 7px; }

    .section-como-funciona-content { justify-content: center; }
    .section-como-funciona-img { position: relative; }
    .section-como-funciona-title h2 { font-size: 2em; }
    .section-como-funciona-img img { width: 350px; bottom: -50px;}

    .section-vantagens-list li { padding: 30px; }
}

@media screen and (min-width: 1024px) and (max-width: 1280px ) {

    .content { width: 96%; }
    .section-servicos-content { margin: 20px 0 0 0; }
    .section-servicos-content article { margin: 20px 10px 20px 10px; }

    .section-como-funciona-input { width: 400px; }
    .section-como-funciona-input input { width: 100%; }
    .section-como-funciona-input button { width: 100%; margin-left: 0; margin-top: 7px; }

}