@media screen and (min-device-width: 320px) and (max-device-width: 420px ) {

}

@media screen and (min-device-width: 421px) and (max-width: 800px ) {
    
    .content { width: 100%; }

    .section-servicos-content { margin: 20px 0 50px 0; }
    .section-servicos-title { padding: 0 20px; }
    .section-servicos-content article {  width: 80%; }

    .section-como-funciona-input { width: 380px; margin: 0 auto; }
    .section-como-funciona-input input { width: 100%; }
    .section-como-funciona-input button { width: 100%; margin-left: 0; margin-top: 7px; }

    .section-como-funciona-content { justify-content: center; }
    .section-como-funciona-title h2 { font-size: 2rem; text-align: center;}
    .section-como-funciona-title p { text-align: center;}
    .section-como-funciona-img { display: flex; justify-content: center; }
    .section-como-funciona-img img { position: absolute; top: -200px; left: 50%; margin-left: -100px; width: 200px; }  

    .section-vantagens-list { grid-template-columns: repeat( 1, 1fr); }
    .section-vantagens-list li { padding: 20px; }
}

@media screen and (min-width: 801px) and (max-width: 1023px ) {

    .content { width: 100%; }
    .section-servicos-content { margin: 20px 0 0 0; }
    .section-servicos-content article {  width: 40%; }

    .section-como-funciona-input { width: 380px; }
    .section-como-funciona-input input { width: 100%; }
    .section-como-funciona-input button { width: 100%; margin-left: 0; margin-top: 7px; }

    .section-como-funciona-content { justify-content: center; }
    .section-como-funciona-img { position: relative; }
    .section-como-funciona-title h2 { font-size: 2em; }
    .section-como-funciona-img img { width: 350px; bottom: -50px;}

    .section-vantagens-list li { padding: 30px; }
}

@media screen and (min-width: 1024px) and (max-width: 1280px ) {

    .content { width: 96%; }

    .section-como-funciona-input { width: 400px; }
    .section-como-funciona-input input { width: 100%; }
    .section-como-funciona-input button { width: 100%; margin-left: 0; margin-top: 7px; }

}