@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,body{
    font-family: 'Open Sans', sans-serif;
	height: 100%;
}

/*VARIABLES*/
:root {
    --color-red: #D94352;
    --font-small: 0.875rem;
    --font-normal: 1rem;
    --font-medium: 1.2rem;
    --font-large: 1.4rem;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-black: 800;

    --radius-normal: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;   
}

/*TITULOS*/

.section-title { text-align: center; }
.section-title h2 { padding: 10px 0 6px 0; font-size: 2rem; text-align: center; }
.section-title p { font-weight: var(--weight-light); font-size: var(--font-medium); }

.container { width: 100%; }
.content { position: relative; width: 1280px; margin: 0 auto; padding: 0 20px; }

.main-content section { padding: 80px 0; }

/**************** BUTTON ******************/ 

.home_featured_btn { border-radius: var(--radius-normal) ; font-weight: var(--weight-black); color: #fff; padding: 28px; cursor: pointer; text-transform: uppercase; text-shadow: 0 1px 1px rgb(0 0 0 / 65%);  background: crimson;}

/***************** MENU *******************/

.main-header { position: absolute; width: 100%; border-bottom: 1px solid #fff; }
.main-header-content { padding: 10px 40px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; }
.main-header-content .logo img { width: 185px; }
.main-header-content-nav { display: flex; position: absolute; right: 0;}
.main-header-content-nav li { color: #000; margin: 0 15px; font-size: 1.2rem; font-weight: 400; }

/************* MAIN FEATURED **************/

.main-content-featured { display: flex; position: relative; height: 100vh; align-items: center;}
.main-content-featured:after { z-index: -1; content: ""; top: 0; left: 0; bottom: 0; right: 0; position: absolute; background: url("https://bl3301files.storage.live.com/y4mtSek2OFhY2c26QVvcuCh7_pvQL-B_9UodpzcojfLXnpFtDW_U465pflIGpEJuqeYh3XjAjEMt2_NqIaT4WHIfasN99b32ulPEObR0tz8EnvZiZzz3487vEHk6T9gsYB1d_pG6J_PbMaNxp_47-tRW835vqcq_dx8tPQcjoInLI8H68wTEYWAcjXtVPbRG6LQ?width=1920&height=1080&cropmode=none") top center no-repeat; background-size: cover; background-attachment: fixed; }

.main-content-featured header { display: flex; flex-flow: column nowrap; justify-content: center; }
.main-content-featured header h1 { font-size: 3.8em; max-width: 500px; color: #fff; text-shadow: 0 1px 1px rgb(0 0 0 / 100%); }


.main-content-featured header > :nth-child(2) { width: 600px; padding: 20px 0; font-size: var(--font-large);}
.main-content-featured header > :nth-child(3) { margin: 40px 0 0 0 ; }

/**************************************************/
/**************** SECTION SERVIÇOS ****************/

.section-servicos-content { display: flex; flex-flow: row wrap; justify-content: center; padding-top: 20px; }
.section-servicos-content article { text-align: center; margin: 0 16px; width: 20%; margin: 30px 16px 30px 16px; }
.section-servicos-content article img { width: 80px; }
.section-servicos-content article h3 { padding: 16px 0; }

/**************************************************/
/***************** COMO FUNCIONA  *****************/

.section-como-funciona { background:#011A5A; z-index: 998;}
.section-como-funciona-content{display: flex; align-items: center; justify-content: space-between;}
.section-como-funciona-title h2 {color: white; width: 400px; text-align: left; font-size: 2.6em;}
.section-como-funciona-title p {width: 400px; color: white; text-align: left; padding: 20px 0;}
.section-como-funciona-input input {width: 400px; padding: 20px 10px; margin-top: 10px; border: none; border-radius: 2px;}
.section-como-funciona-input button{background:crimson; padding: 18px 30px; margin-left: 10px; border-radius: 2px; font-weight: bolder; border:none; cursor: pointer; font-size: 1.0em;}
.section-como-funciona-input button:focus {outline: none;}
.section-como-funciona-input input:focus{outline: none;}
.section-como-funciona-img img{width: 500px;}
.section-como-funciona-img{ top: 0; right: 0;}


/**************************************************/
/*************** SECTION VANTANGES  **************/

.section-vantagens-list { display: grid; grid-template-columns: repeat( 2, 1fr); padding-top: 10px; }
.section-vantagens-text { padding-right: 24px; }
.section-vantagens-text p { padding-top: 20px; }
.section-vantagens-img { padding-top: 10px; padding-right: 32px; }
.section-vantagens-list li { display: flex; padding: 40px; }

/**************************************************/
/***************** PERGUNTAS  *********************/

.section-perguntas-list { display: grid; grid-template-columns: repeat( 2, 1fr); margin-top: 20px; }
.section-perguntas-list li { display: flex; margin: 8px; justify-content: center; }
.section-perguntas-p { }
.section-perguntas-p p { width:400px; height:28px; padding-left: 6px; background-color: #e0e0e0; border-radius: 4px; box-shadow: 1px 1px 1px black; }
.left-perguntas { margin-left: 250px; }
.right-perguntas { margin-right: 250px; }


/**************************************************/
/********************** FOOTER ********************/

.logo-preto img { width: 150px; } 
.redes-sociais { margin-bottom: 15px; }
.main-footer { background: #f3f3f3;}
.main_footer_content { display: flex;  padding: 50px 0 50px 0; flex-wrap: no-wrap; flex: 1; justify-content: space-around;}
.main_footer_content_section { flex-basis: 340px; margin: 0; font-size: 1em;}
.main_footer_content_section h3 { font-size: 1em; padding-bottom: 10px; }
.main_footer_content_section p:first-of-type { font-size: 0.8em;}
.main_footer_content_section p:last-of-type { font-size: 0.9em;}
.main_footer_content_section p:nth-child(3) { font-size: 1.2em; font-weight: 600; }
.main_footer_content_section a { font-weight: 600; color: #000; }
.main_footer_content_section a:hover { text-decoration: underline; }
.main_footer_content_section p { padding: 4px 0; }
.main_footer_content_section h3:before, .bancos_parceiros_titulo span:before { display: none; position: absolute; top: 24px; left: 50%; margin-left: -20px; content: ""; width: 40px; height: 3px; background-color: #fff;  }
.bancos_parceiros_titulo span:before { top: 52px; }