.section-vantagens-list {

    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    
}

.content {

    width: 1280px;
    margin: 0 auto;
    padding: 0 auto;

}

.section-vantagens-text { padding-right: 24px; }

.section-vantagens-img { padding-top: 20px; padding-right: 32px; }

li { display: flex; }

